body{
    /* height: 100vh; */
    background: rgb(0, 0, 0);
}

h1{
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: black;
}

.online{
    height: 80vh;
    overflow-y: auto;
    margin: 20px;
    margin-left: 0px;
    background-color: rgb(16, 16, 19);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.onlineuser{
    /* background-color: rgb(189, 189, 189); */
    padding: 10px;
    margin: 17px 12px;
    /* border-top:solid 1px black; */
    border-bottom:solid 1px rgb(255, 255, 255);
    /* border-radius: 10px; */
    overflow-wrap: break-word;
}

.app{
    /* position:absolute; */
    /* background-color: rgb(250, 250, 250); */
    background: rgb(0, 0, 19);
    background-image: url(./wallpaper.png);
    width: 70%;
    margin: 20px;
    width: 70vw;
    /* left:15%; */
    /* top:15%; */
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.chat-container{
    margin: auto;
    overflow-y: auto;
    height: 70vh;
    /* border: solid black 10px; */
    
}

#message-send-form{
    /* margin-top: 20px; */
    margin-left: 8%;
    /* margin: auto; */
    margin-top: 30px;
    margin-bottom: 10px;
}

#message-input{
    width: 80%;
    height: 40px;
    border-radius: 10px;
}

.btn{
    font-size: 1.5em;
    border-radius: 5px;
    background-color:chartreuse;
    /* max-width: 8%; */
}

.message{
    background-color: rgb(189, 189, 189);
    max-width: 60%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid gray;
    border-radius: 10px;
    overflow-wrap: break-word;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

.center{
    float: right;
    clear: both;
    background-color: lightgreen;
    width: 60%;
    position: relative;
    text-align: center;
    right: 20%;
    color: green;
}
